body{  margin: 0px;  }
.container{
    margin: 150px 0px 150px 0px;
    width: 100%;
    min-height: 400px;
}
.content{
    background-color:#f9f9fd;
    float: left;
    width: 14%;
    height: 250px;
    margin-left: 4%;
    padding:3%
}
.icons{
    margin-left: 35%;
    margin-top: 20%;
}
p{
    color: #777 ;
    line-height: 1.5em;
}
.para{ font-size: 0.9em;}
.content-center{   text-align: center;  }
.sub-cont{
    float: left;
    width: 50%;
}
.full-image{
    margin-left: 10%;
    margin-top: 5%;
    width: 60%;
    height: 80%;
}
h1{ font-size: 2em; }
.para2{
    margin-right: 200px;
    font-size: 1.1em;
}
button{
    margin-top: 20px;
    padding: 2% 6% 2% 6%;
    border-radius: 5px;
    border: none;
    font-weight:500;
    color: #fff;
    background-color: steelblue;
}