body{
    margin: 0px;
    font-family:corbel;
}
.container{
    margin: auto;
    width: 80%;
    height: 700px;
}
.upper-cont{
    text-align: center;
    width: 100%;
    height: 18%;
}
hr{
    width: 30%;
}
.bottom-cont{
    width: 100%;
    height: 82%;
}
.upper-cont h5{
    text-transform: uppercase;
    color: rgb(11, 179, 75);
}
h1{
    margin: -20px 300px 20px 300px;
}
.mini-cont{
    float: left;
    width: 35%;
    height: 30%;
    margin-left: 10%;
    margin-bottom: 1%;
}
.icon{
    float: left;
    width: 10%;
    height: 100%;
    font-size: 1.6em;
    color: rgb(11, 179, 75);
}
.icon i{
    margin-top: 20px;
}
.info{
    float: left;
    width: 90%;
    height: 100%;
}
p{  color: #777; }
.form-cont{
    width: 40%;
    height: 100%;
    float: left;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.9);
}
.contact-cont{
    width: 16%;
    padding: 0px 2%;
    height: 100%;
    float: left;
    background-color: black;
    color: #fff;
}
.contact-info h6{  color: rgb(11, 179, 75);}
.social-icons i{
    color: #fff;
    margin: 25px 15px 0px 0px;
}
form{ width: 100%; height: 100%;} 
.boxs{
    border-bottom: 1px solid #777;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    width: 84%;
    margin-left: 8%;
}
input{ height: 50px;}
textarea{ height: 200px;}
.contact-cont h5{   color: #fff; margin-top: 40px;}
.form-cont h5{
    margin-left: 8%;
    color: #fff;
    text-transform: uppercase;
    margin-top: 40px;
}
#submit{
    background-color: rgb(11, 179, 75);
    width: 84%;
    height: 40px;
    color: #fff;
    border: none;
    margin-left: 8%;
    margin-top: 10px;  
    font-size: 1.2em; 
}