body{
    margin: 0%;
}
.container{
    width: 100%;
    height: 700px;
    background: url("../imgs/girl.jpg");
    background-position: center;
}
.bg{
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 200, 0.5);
    text-align: center;
}
.header{
    position: relative;
    color: #fff;
    width: 100%;
    height: 50%;
    top: 150px;
    font-family: Didact Gothic;
}
h1{
    position: relative;
    margin: 0%;
    font-size: 3em;
    letter-spacing: 5px;
}
button{
    border: 1px solid #fff;
    background: none;
    border-radius: 30px;
    padding: 15px 50px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 50px;

}